tbody > tr > td:not(:first-child,:last-child,:nth-child(5)){
    text-align: right;
}

tbody > tr > td:nth-child(5){
    text-align: center;
}

.fi-pencil{
    margin-right: 10px;
}

thead > tr > th{
    font-weight: normal;
}

tbody > tr > td:first-child{
font-weight: bold;
}

.success.button.expanded{
    margin-top: 10px;
}